<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net" xmlns:db="http://www.springframework.net/database">

      <db:provider
        id="KyklosKernelDbProvider"
        provider="${KyklosKernelDataSource.providerName}"
        connectionString="${KyklosKernelDataSource.connectionString}" />

      <object id="AdoTemplate" type="Spring.Data.Generic.AdoTemplate, Spring.Data">
        <property name="DbProvider" ref="KyklosKernelDbProvider"/>
        <property name="DataReaderWrapperType" value="Spring.Data.Support.NullMappingDataReader, Spring.Data"/>
        <property name="CommandTimeout" value="${CommandTimeout}"/>
      </object>

    </objects>
  </spring>
</configuration>