<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="OracleCS" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.20)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=KYKORA)));User Id=SCMX_INDUSTRIES_DEV;Password=SCMX_INDUSTRIES_DEV;" providerName="KyklosOracleDbProvider" />
  </connectionStrings>
</configuration>