<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>

    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="resourceHandlers" type="Spring.Context.Support.ResourceHandlersSectionHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
    </sectionGroup>

  </configSections>

  <appSettings>
    <add key="KName" value="Industries" />
    <add key="ProductName" value="KpX" />
    <add key="ApplicationName" value="KpXTcpService" />
    <add key="EnvironmentType" value="Dev" />
    <add key="InProcess" value="True" />
    <add key="ContextName" value="KpX_tcpservice_ind" />
    <add key="XilDbSchema" value="dbo" />
    <add key="KyklosKernelDefaultSchema" value="dbo" />
    <add key="AuthenticationDomain" value="" />
    <add key="AcceptChangesOnUpdate" value="true" />
    <add key="MaxAllowedCapacity" value="100" />
    <add key="AllowedDomains" value="KYKLOS" />
    <add key="CurrentProductsInTesting" value="kernel" />
  </appSettings>

  <connectionStrings>
    <add name="KyklosKernelDataSource" connectionString="Data Source=192.168.25.11,1433;Initial Catalog=eProcurementScmX_Gucci_Test;Persist Security Info=True;User Id=sa;Password=KyKlos%2016!" providerName="KyklosSqlServerDbProvider" />
  </connectionStrings>


  <spring>
    <context>
      <resource uri="assembly://Kyklos.Kernel.Config/Kyklos.Kernel.Config.Kernel/kyklos.kernel.common.object.xml" />
      <resource uri="assembly://Kyklos.Kernel.Config/Kyklos.Kernel.Config.Kernel/kyklos.kernel.dal.standard.xml" />
      <resource uri="assembly://Kyklos.Kernel.Config/Kyklos.Kernel.Config.Kernel/kyklos.kernel.dal.xml" />
      <resource uri="assembly://DbTesting.Kernel/DbTesting.Kernel.Config/dbtesting.kernel.objects.xml" />
      <resource uri="assembly://DbTesting.Kernel/DbTesting.Kernel.Config/dbtesting.kernel.sqlserver.xml" />
    </context>
  </spring>


  <!-- Logging -->
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net1213">
        <!-- Common Logging assumes that log4net is initialized -->
        <arg key="configType" value="EXTERNAL" />
      </factoryAdapter>
    </logging>
  </common>

  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/error.txt" />
      <appendToFile value="true" />
      <maximumFileSize value="10000KB" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} [%t] %-5p %c - %m%n" />
      </layout>
    </appender>

    <appender name="SpringFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/spring.txt" />
      <appendToFile value="true" />
      <maximumFileSize value="10000KB" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="3" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <!-- levels: DEBUG, INFO, WARN, ERROR, FATAL -->
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
    <logger name="Spring" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="SpringFileAppender" />
    </logger>

  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.1.0" newVersion="2.3.1.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spring.Core" publicKeyToken="65e474d141e25e07" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.40000" newVersion="2.0.0.40000" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>


    </assemblyBinding>
  </runtime>

</configuration>