<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SQLServerCS" connectionString="Data Source=192.168.100.42,9433\DEV2016;Initial Catalog=DeXdemo;Persist Security Info=True;User Id=sa;Password=Sql2016$;" providerName="KyklosSqlServerDbProvider" />
  </connectionStrings>
</configuration>